snippet import_role "Import role ansible task block"
	- name: Ansible role $1 setup
		import_role:
			name: $1
		tags:
			- $1

snippet vault_lookup_ansible "hashi_vault template syntax"
	"{{ lookup('hashi_vault', 'secret=$1/data/$2:$3') }}"
